{%extends 'base.html'%}
{%block title%}
About
{%endblock%}
{%block content%}

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <h1 class="titulo">Acerca de mí</h1>
        </div>
        <div class="col-md-8">
            <article class="text-justify">
                Soy <strong>Fredy Curihual</strong>, un desarrollador de software con pasión por crear soluciones
                innovadoras y eficientes. Con experiencia en Python y Flutter, y frameworks como Flask, Django y
                Streamlit,
                disfruto transformando ideas complejas en código funcional y escalable.

                Mi enfoque se centra en el desarrollo backend robusto, interfaces de usuario intuitivas, la
                automatización de procesos o análisis de datos y estoy siempre buscando aprender nuevas tecnologías para
                enfrentar desafíos con creatividad.

                Explora mis proyectos para ver cómo aplico mis habilidades en situaciones reales y cómo puedo contribuir
                a tu próximo desafío.
            </article>
        </div>
    </div>
</div>
{%endblock%}